<div class="container">
  <div class="col-xs-12">
    <h3>Users List</h3>


    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Mood Type</th>
        </tr>
      </thead>
      <tbody>
        <% @mood_types.each do |mood_type| %>
          <tr>
            <td><%= mood_type.id %></td>
            <td><%= mood_type.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>